[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
coverage = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-randomly = "*"
pytest-deadfixtures = "*"
ipython = "*"

[requires]
python_version = "3.8"
